Repository mad201802/firstpass, pull requests merged in 2022-11, with the labels that each got.

#14 Added CHANGELOG.md
  CHANGELOG.md
Labels: documentation

#11 Merge Feature/database structure into devel
  .gitignore
  backend/.gitignore
  backend/pom.xml
  backend/src/main/java/database/drivers/SQLiteDriver.java
  backend/src/main/java/database/models/CategoryModel.java
  backend/src/main/java/database/models/EncryptedModel.java
  backend/src/main/java/database/models/EntryModel.java
Labels: backend

#16 Update issue templates
  .github/ISSUE_TEMPLATE/default-task.md
Labels: documentation, arc

#19 Interface für SQLiteDriver, Foreign-Key Bug behoben, Javadoc Kommentare
  backend/pom.xml
  backend/src/main/java/database/IEncryptedDatabase.java
  backend/src/main/java/database/drivers/SQLiteDriver.java
  backend/src/main/java/database/models/CategoryModel.java
  backend/src/main/java/database/models/EncryptedModel.java
  backend/src/main/java/database/models/EntryModel.java
Labels: enhancement, backend

#21 [Wichtig] Breaking Changes in der Projektstruktur
  backend/backend.iml
  backend/pom.xml
  backend/src/main/java/FirstPass.java
  backend/src/main/java/io/firstpass/FirstPass.java
  backend/src/main/java/io/firstpass/database/IEncryptedDatabase.java
  backend/src/main/java/io/firstpass/database/drivers/SQLiteDriver.java
  backend/src/main/java/io/firstpass/database/models/CategoryModel.java
  backend/src/main/java/io/firstpass/database/models/EncryptedModel.java
  backend/src/main/java/io/firstpass/database/models/EntryModel.java
  backend/src/main/java/io/firstpass/encryption/exceptions/UnknownAlgorithmException.java
  backend/src/main/java/io/firstpass/encryption/symmetric/ISymmetricEncryptionAlgorithm.java
  backend/src/main/java/io/firstpass/encryption/symmetric/SymmetricEncryptionFactory.java
  backend/src/main/java/io/firstpass/encryption/symmetric/algos/AES256.java
  backend/src/main/java/io/firstpass/encryption/symmetric/models/CipherData.java
  backend/src/main/java/io/firstpass/logic/StrengthAnalyzer.java
  backend/src/main/java/io/firstpass/utils/Utils.java
  backend/src/test/java/TestUtils.java
  backend/src/test/java/io/firstpass/encryption/TestAES256.java
Labels: bug, arc

#23 Projektname in pom.xml angepasst
  backend/.gitignore
  backend/backend.iml
  backend/pom.xml
  backend/src/main/java/io/firstpass/FirstPass.java
Labels: bug, backend

#24 Hinzufügen der JSON Objekte für IPC
  backend/src/main/java/io/firstpass/ipc/models/request/BaseFrontendRequest.java
  backend/src/main/java/io/firstpass/ipc/models/response/BaseFrontendResponse.java
Labels: backend

#25 Finished CLI with PasswordManager
  .gitignore
  backend/src/main/java/io/firstpass/FirstPass.java
  backend/src/main/java/io/firstpass/database/IEncryptedDatabase.java
  backend/src/main/java/io/firstpass/database/drivers/SQLiteDriver.java
  backend/src/main/java/io/firstpass/database/models/EncryptedEntryModel.java
  backend/src/main/java/io/firstpass/manager/PasswordManager.java
  backend/src/main/java/io/firstpass/manager/models/EntryModel.java
  backend/src/main/java/io/firstpass/utils/CLI.java
Labels: enhancement, backend, arc

#27 Feature/cli strength option
  backend/src/main/java/io/firstpass/logic/StrengthAnalyzer.java
  backend/src/main/java/io/firstpass/utils/CLI.java
Labels: enhancement, backend

#37 Added json objects and Gson
  backend/pom.xml
Labels: backend

#40 Erstellen des MessageParser sowie IPCHandler
  backend/src/main/java/io/firstpass/FirstPass.java
  backend/src/main/java/io/firstpass/database/models/CategoryModel.java
  backend/src/main/java/io/firstpass/ipc/communication/ClassMessageObject.java
  backend/src/main/java/io/firstpass/ipc/communication/request/BaseIPCRequest.java
  backend/src/main/java/io/firstpass/ipc/communication/request/OpenDatabaseRequest.java
  backend/src/main/java/io/firstpass/ipc/communication/response/BaseIPCResponse.java
  backend/src/main/java/io/firstpass/ipc/communication/response/IPCErrorResponse.java
  backend/src/main/java/io/firstpass/ipc/communication/response/MasterpasswordResponse.java
  backend/src/main/java/io/firstpass/ipc/communication/response/OpenDatabaseResponse.java
  backend/src/main/java/io/firstpass/ipc/exceptions/IPCException.java
  backend/src/main/java/io/firstpass/ipc/handler/IPCHandler.java
  backend/src/main/java/io/firstpass/ipc/handler/interfaces/IHandler.java
  backend/src/main/java/io/firstpass/ipc/interfaces/IOnMessageRecieve.java
  backend/src/main/java/io/firstpass/ipc/models/EntryModel.java
  backend/src/main/java/io/firstpass/ipc/models/request/BaseFrontendRequest.java
  backend/src/main/java/io/firstpass/ipc/models/response/BaseFrontendResponse.java
  backend/src/main/java/io/firstpass/ipc/parser/IMessageParser.java
  backend/src/main/java/io/firstpass/ipc/parser/MessageParser.java
  backend/src/test/java/io/firstpass/ipc/handler/TestIPCHandler.java
  backend/src/test/java/io/firstpass/ipc/parser/TestMessageParser.java
  backend/src/test/java/io/firstpass/ipc/parser/messages/TestMessage.java
Labels: backend

#43 Feature/categories db
  .gitignore
  backend/src/main/java/io/firstpass/FirstPass.java
  backend/src/main/java/io/firstpass/database/IEncryptedDatabase.java
  backend/src/main/java/io/firstpass/database/drivers/SQLiteDriver.java
  backend/src/main/java/io/firstpass/database/models/CategoryModel.java
  backend/src/main/java/io/firstpass/database/models/EncryptedEntryModel.java
  backend/src/main/java/io/firstpass/manager/PasswordManager.java
  backend/src/main/java/io/firstpass/utils/CLI.java
Labels: backend

#46 #30 Implemented password entropy calculation
  backend/src/main/java/io/firstpass/logic/StrengthAnalyzer.java
  backend/src/main/java/io/firstpass/utils/CLI.java
Labels: enhancement, backend
