Repository mad201802/firstpass, pull requests merged in 2023-01, with the labels that each got.

#70 Hinzufügen von Einträgen
  backend/src/main/java/io/firstpass/FirstPass.java
  backend/src/main/java/io/firstpass/database/IEncryptedDatabase.java
  backend/src/main/java/io/firstpass/database/drivers/SQLiteDriver.java
  backend/src/main/java/io/firstpass/database/models/EncryptedEntryModel.java
  backend/src/main/java/io/firstpass/ipc/callbacks/CreateEntryCallback.java
  backend/src/main/java/io/firstpass/ipc/communication/request/CreateEntryRequest.java
  backend/src/main/java/io/firstpass/ipc/communication/response/CreateEntryResponse.java
  backend/src/main/java/io/firstpass/manager/PasswordManager.java
  backend/src/main/java/io/firstpass/utils/CLI.java
Labels: backend

#71 Feature/config manager
  backend/src/main/java/io/firstpass/FirstPass.java
  backend/src/main/java/io/firstpass/config/Configuration.java
  backend/src/main/java/io/firstpass/config/ConfigurationManager.java
  backend/src/main/java/io/firstpass/config/schemas/DefaultConfig.java
  backend/src/main/java/io/firstpass/config/schemas/LoadedDB.java
  backend/src/main/java/io/firstpass/ipc/callbacks/CreateDatabaseCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/GetLoadedDBsCallback.java
  backend/src/main/java/io/firstpass/ipc/communication/request/EmtpyRequest.java
  backend/src/main/java/io/firstpass/ipc/communication/response/GetLoadedDBsResponse.java
  backend/src/main/java/io/firstpass/ipc/parser/MessageParser.java
  backend/src/test/java/io/firstpass/config/TestConfiguration.java
  backend/src/test/java/io/firstpass/ipc/callbacks/TestCreateDatabaseCallback.java
Labels: backend

#72 Datenbank schließen
  backend/pom.xml
  backend/src/main/java/io/firstpass/FirstPass.java
  backend/src/main/java/io/firstpass/config/Configuration.java
  backend/src/main/java/io/firstpass/config/schemas/DefaultConfig.java
  backend/src/main/java/io/firstpass/database/IEncryptedDatabase.java
  backend/src/main/java/io/firstpass/database/drivers/SQLiteDriver.java
  backend/src/main/java/io/firstpass/ipc/callbacks/CloseDatabaseCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/CreateDatabaseCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/GetLoadedDBsCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/ListRecentDBsCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/LoadDatabaseCallback.java
  backend/src/main/java/io/firstpass/ipc/communication/request/EmptyRequest.java
  backend/src/main/java/io/firstpass/ipc/communication/response/ListRecentDBsResponse.java
  backend/src/main/java/io/firstpass/ipc/communication/response/SimpleStatusResponse.java
  backend/src/main/java/io/firstpass/ipc/parser/MessageParser.java
  backend/src/main/java/io/firstpass/manager/PasswordManager.java
  backend/src/test/java/io/firstpass/config/TestConfiguration.java
  backend/src/test/java/io/firstpass/ipc/callbacks/TestCreateDatabaseCallback.java
  backend/src/test/java/io/firstpass/ipc/parser/TestMessageParser.java
  backend/src/test/java/util/Utils.java
Labels: backend

#78 Packaging Backend and Frontend to single executable for multiple operating systems
  .github/workflows/backend_pr.yaml
  .github/workflows/backend_release.yaml
  .github/workflows/package.yaml
  .gitignore
  .vscode/tasks.json
  build.bat
  docker-build.bat
  docker-build.sh
  frontend/.gitignore
  frontend/.prettierrc
  frontend/.yarnrc.yml
  frontend/app/src/components/Popup/Popup.js
  frontend/app/src/components/TitleBar/TitleBar.js
  frontend/app/src/pages/LoginPage/LoginPage_old.js
  frontend/app/src/pages/LoginPage/LoginPage_old.less
  frontend/firstpass.icns
  frontend/firstpass.ico
  frontend/firstpass.png
  frontend/main.js
  frontend/package.json
  frontend/util/backend.js
  frontend/yarn.lock
Labels: frontend, backend, arc

#83 Create category
  backend/src/main/java/io/firstpass/FirstPass.java
  backend/src/main/java/io/firstpass/database/IEncryptedDatabase.java
  backend/src/main/java/io/firstpass/database/drivers/SQLiteDriver.java
  backend/src/main/java/io/firstpass/database/models/CategoryModel.java
  backend/src/main/java/io/firstpass/ipc/callbacks/CreateCategoryCallback.java
  backend/src/main/java/io/firstpass/ipc/communication/request/CreateCategoryRequest.java
  backend/src/main/java/io/firstpass/ipc/communication/response/CreateCategoryResponse.java
  backend/src/main/java/io/firstpass/manager/PasswordManager.java
Labels: backend

#77 Feature/config manager
  backend/src/main/java/io/firstpass/FirstPass.java
  backend/src/main/java/io/firstpass/config/Configuration.java
  backend/src/main/java/io/firstpass/ipc/callbacks/GetEntropyCallback.java
  backend/src/main/java/io/firstpass/ipc/communication/request/GetEntropyRequest.java
  backend/src/main/java/io/firstpass/ipc/communication/response/GetEntropyResponse.java
Labels: enhancement, backend

#87 Löschen einer Kategorie
  backend/src/main/java/io/firstpass/FirstPass.java
  backend/src/main/java/io/firstpass/database/IEncryptedDatabase.java
  backend/src/main/java/io/firstpass/database/drivers/SQLiteDriver.java
  backend/src/main/java/io/firstpass/database/models/EncryptedEntryModel.java
  backend/src/main/java/io/firstpass/database/models/EncryptedModel.java
  backend/src/main/java/io/firstpass/ipc/callbacks/CloseDatabaseCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/CreateCategoryCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/CreateDatabaseCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/CreateEntryCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/DeleteCategoryCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/LoadDatabaseCallback.java
  backend/src/main/java/io/firstpass/ipc/communication/request/DeleteCategoryRequest.java
  backend/src/main/java/io/firstpass/ipc/communication/request/EmptyRequest.java
  backend/src/main/java/io/firstpass/ipc/communication/response/CreateEntryResponse.java
  backend/src/main/java/io/firstpass/manager/PasswordManager.java
  backend/src/main/java/io/firstpass/manager/models/EntryModel.java
  backend/src/main/java/io/firstpass/utils/CLI.java
  backend/src/test/java/io/firstpass/ipc/callbacks/TestCreateDatabaseCallback.java
Labels: backend

#92 Update Entry
  backend/src/main/java/io/firstpass/FirstPass.java
  backend/src/main/java/io/firstpass/database/drivers/SQLiteDriver.java
  backend/src/main/java/io/firstpass/database/models/EncryptedModel.java
  backend/src/main/java/io/firstpass/ipc/callbacks/UpdateEntryCallback.java
  backend/src/main/java/io/firstpass/ipc/communication/request/UpdateEntryRequest.java
  backend/src/main/java/io/firstpass/manager/PasswordManager.java
Labels: backend

#93 Query Database infos
  backend/src/main/java/io/firstpass/FirstPass.java
  backend/src/main/java/io/firstpass/database/IEncryptedDatabase.java
  backend/src/main/java/io/firstpass/database/drivers/SQLiteDriver.java
  backend/src/main/java/io/firstpass/ipc/callbacks/CreateEntryCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/QueryDatabaseCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/UpdateEntryCallback.java
  backend/src/main/java/io/firstpass/ipc/communication/request/QueryDatabaseRequest.java
  backend/src/main/java/io/firstpass/ipc/communication/response/CreateEntryResponse.java
Labels: backend

#94 Fix Logging & Encoding
  backend/src/main/java/io/firstpass/FirstPass.java
  backend/src/main/java/io/firstpass/config/Configuration.java
  backend/src/main/java/io/firstpass/config/ConfigurationManager.java
  backend/src/main/java/io/firstpass/database/drivers/SQLiteDriver.java
  backend/src/main/java/io/firstpass/encryption/symmetric/algos/AES256.java
  backend/src/main/java/io/firstpass/ipc/callbacks/CreateEntryCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/UpdateEntryCallback.java
  backend/src/main/java/io/firstpass/ipc/communication/request/CreateEntryRequest.java
  backend/src/main/java/io/firstpass/ipc/communication/response/CreateEntryResponse.java
  backend/src/main/java/io/firstpass/ipc/handler/IPCHandler.java
  backend/src/main/java/io/firstpass/utils/Utils.java
Labels: bug, backend

#96 #95 Rechenfehler im StrengthAnalyzer wird jetzt verhindert + Unittests
  backend/src/main/java/io/firstpass/config/Configuration.java
  backend/src/main/java/io/firstpass/config/ConfigurationManager.java
  backend/src/main/java/io/firstpass/logic/StrengthAnalyzer.java
  backend/src/test/java/io/firstpass/config/TestConfiguration.java
Labels: bug, backend

#98 #66 Unit-Tests für StrengthAnalyzer.java, ungenutzte Methoden auskomm…
  backend/src/main/java/io/firstpass/logic/StrengthAnalyzer.java
  backend/src/main/java/io/firstpass/utils/CLI.java
  backend/src/test/java/io/firstpass/logic/TestStrengthAnalyzer.java
Labels: backend

#100 Feature/update cat
  backend/src/main/java/io/firstpass/FirstPass.java
  backend/src/main/java/io/firstpass/ipc/callbacks/CreateDatabaseCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/CreateEntryCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/GetPasswordCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/LoadDatabaseCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/UpdateCategoryCallback.java
  backend/src/main/java/io/firstpass/ipc/communication/request/GetPasswordRequest.java
  backend/src/main/java/io/firstpass/ipc/communication/request/UpdateCategoryRequest.java
  backend/src/main/java/io/firstpass/ipc/communication/response/GetPasswordResponse.java
  backend/src/main/java/io/firstpass/ipc/communication/response/UpdateCategoryResponse.java
  backend/src/main/java/io/firstpass/manager/PasswordManager.java
  backend/src/main/java/io/firstpass/utils/CLI.java
Labels: enhancement, backend

#104 add theme support, fix several styling issues and bugs
  frontend/app/assets/img/logo-pattern.png
  frontend/app/src/App.js
  frontend/app/src/App.less
  frontend/app/src/backend.js
  frontend/app/src/components/AnimatedPatternBG/AnimatedPatternBG.js
  frontend/app/src/components/AnimatedPatternBG/AnimatedPatternBG.less
  frontend/app/src/components/Button/Button.less
  frontend/app/src/components/CheckBoxProp/CheckBoxProp.less
  frontend/app/src/components/ColorProp/ColorProp.less
  frontend/app/src/components/DropdownMenu/DropdownMenu.js
  frontend/app/src/components/DropdownMenu/DropdownMenu.less
  frontend/app/src/components/EditableProp/EditableProp.js
  frontend/app/src/components/EditableProp/EditableProp.less
  frontend/app/src/components/FormInput/FormInput.js
  frontend/app/src/components/FormInput/FormInput.less
  frontend/app/src/components/Popup/Popup.js
  frontend/app/src/components/Popup/Popup.less
  frontend/app/src/components/UrlLogo/UrlLogo.js
  frontend/app/src/components/index.js
  frontend/app/src/contexts/ThemeList.context.js
  frontend/app/src/pages/CreatePage/CreatePage.js
  frontend/app/src/pages/CreatePage/CreatePage.less
  frontend/app/src/pages/LoginPage/LoginPage.js
  frontend/app/src/pages/LoginPage/LoginPage.less
  frontend/app/src/pages/MainPage/components/EntryView/EntryView.js
  frontend/app/src/pages/MainPage/components/EntryView/EntryView.less
  frontend/app/src/pages/MainPage/components/PasswordListView/PasswordListView.js
  frontend/app/src/pages/MainPage/components/PasswordListView/PasswordListView.less
  frontend/app/src/pages/MainPage/components/SettingsView/SettingsView.js
  frontend/app/src/pages/MainPage/components/SettingsView/SettingsView.less
  frontend/app/src/pages/MainPage/components/SettingsView/components/Section.less
  frontend/app/src/pages/MainPage/components/SettingsView/components/ThemeSelector.js
  frontend/app/src/pages/MainPage/components/SettingsView/components/ThemeSelector.less
  frontend/app/src/pages/MainPage/components/SideBar/SideBar.js
  frontend/app/src/pages/MainPage/components/SideBar/SideBar.less
  frontend/main.js
  frontend/util/backend.js
  frontend/util/themes.js
  frontend/util/util.js
  frontend/webpack.config.js
Labels: enhancement, frontend, design

#106 Merge frontend branch into develop
  frontend/app/assets/img/logo-pattern.png
  frontend/app/src/App.js
  frontend/app/src/App.less
  frontend/app/src/backend.js
  frontend/app/src/components/AnimatedPatternBG/AnimatedPatternBG.js
  frontend/app/src/components/AnimatedPatternBG/AnimatedPatternBG.less
  frontend/app/src/components/Button/Button.less
  frontend/app/src/components/CheckBoxProp/CheckBoxProp.less
  frontend/app/src/components/ColorProp/ColorProp.less
  frontend/app/src/components/DropdownMenu/DropdownMenu.js
  frontend/app/src/components/DropdownMenu/DropdownMenu.less
  frontend/app/src/components/EditableProp/EditableProp.js
  frontend/app/src/components/EditableProp/EditableProp.less
  frontend/app/src/components/FormInput/FormInput.js
  frontend/app/src/components/FormInput/FormInput.less
  frontend/app/src/components/Popup/Popup.js
  frontend/app/src/components/Popup/Popup.less
  frontend/app/src/components/UrlLogo/UrlLogo.js
  frontend/app/src/components/index.js
  frontend/app/src/contexts/ThemeList.context.js
  frontend/app/src/pages/CreatePage/CreatePage.js
  frontend/app/src/pages/CreatePage/CreatePage.less
  frontend/app/src/pages/LoginPage/LoginPage.js
  frontend/app/src/pages/LoginPage/LoginPage.less
  frontend/app/src/pages/MainPage/components/EntryView/EntryView.js
  frontend/app/src/pages/MainPage/components/EntryView/EntryView.less
  frontend/app/src/pages/MainPage/components/PasswordListView/PasswordListView.js
  frontend/app/src/pages/MainPage/components/PasswordListView/PasswordListView.less
  frontend/app/src/pages/MainPage/components/SettingsView/SettingsView.js
  frontend/app/src/pages/MainPage/components/SettingsView/SettingsView.less
  frontend/app/src/pages/MainPage/components/SettingsView/components/Section.less
  frontend/app/src/pages/MainPage/components/SettingsView/components/ThemeSelector.js
  frontend/app/src/pages/MainPage/components/SettingsView/components/ThemeSelector.less
  frontend/app/src/pages/MainPage/components/SideBar/SideBar.js
  frontend/app/src/pages/MainPage/components/SideBar/SideBar.less
  frontend/main.js
  frontend/util/backend.js
  frontend/util/themes.js
  frontend/util/util.js
  frontend/webpack.config.js
Labels: frontend

#117 Added Unittests and some Javadoc
  backend/pom.xml
  backend/src/main/java/io/firstpass/FirstPass.java
  backend/src/main/java/io/firstpass/config/Configuration.java
  backend/src/main/java/io/firstpass/config/schemas/DefaultConfig.java
  backend/src/main/java/io/firstpass/config/schemas/LoadedDB.java
  backend/src/main/java/io/firstpass/database/IEncryptedDatabase.java
  backend/src/main/java/io/firstpass/database/drivers/SQLiteDriver.java
  backend/src/main/java/io/firstpass/database/models/CategoryModel.java
  backend/src/main/java/io/firstpass/database/models/MetaModel.java
  backend/src/main/java/io/firstpass/encryption/exceptions/UnknownAlgorithmException.java
  backend/src/main/java/io/firstpass/encryption/hashing/SHA3_256.java
  backend/src/main/java/io/firstpass/encryption/symmetric/ISymmetricEncryptionAlgorithm.java
  backend/src/main/java/io/firstpass/encryption/symmetric/SymmetricEncryptionFactory.java
  backend/src/main/java/io/firstpass/encryption/symmetric/algos/AES256.java
  backend/src/main/java/io/firstpass/ipc/callbacks/CloseDatabaseCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/CreateCategoryCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/CreateDatabaseCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/CreateEntryCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/DeleteEntryCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/GetPasswordCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/ListRecentDBsCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/OpenDatabaseCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/UpdateCategoryCallback.java
  backend/src/main/java/io/firstpass/ipc/callbacks/UpdateEntryCallback.java
  backend/src/main/java/io/firstpass/ipc/communication/ClassMessageObject.java
  backend/src/main/java/io/firstpass/ipc/communication/request/LoadDatabaseRequest.java
  backend/src/main/java/io/firstpass/ipc/communication/request/OpenDatabaseRequest.java
  backend/src/main/java/io/firstpass/ipc/exceptions/IPCException.java
  backend/src/main/java/io/firstpass/ipc/handler/IPCHandler.java
  backend/src/main/java/io/firstpass/ipc/handler/interfaces/IHandler.java
  backend/src/main/java/io/firstpass/ipc/interfaces/IOnMessageRecieve.java
  backend/src/main/java/io/firstpass/ipc/parser/IMessageParser.java
  backend/src/main/java/io/firstpass/manager/PasswordManager.java
  backend/src/main/java/io/firstpass/manager/models/EntryModel.java
  backend/src/test/java/io/firstpass/config/TestConfiguration.java
  backend/src/test/java/io/firstpass/driver/TestSqlDriver.java
  backend/src/test/java/io/firstpass/encryption/hashing/TestSHA256.java
  backend/src/test/java/io/firstpass/ipc/callbacks/TestCloseDatabaseCallback.java
  backend/src/test/java/io/firstpass/ipc/callbacks/TestCreateCategoryCallback.java
  backend/src/test/java/io/firstpass/ipc/callbacks/TestCreateEntryCallback.java
  backend/src/test/java/io/firstpass/ipc/callbacks/TestDeleteCategoryCallback.java
  backend/src/test/java/io/firstpass/ipc/callbacks/TestDeleteEntryCallback.java
  backend/src/test/java/io/firstpass/ipc/callbacks/TestGetEntropyCallback.java
  backend/src/test/java/io/firstpass/ipc/callbacks/TestGetPasswordCallback.java
  backend/src/test/java/io/firstpass/ipc/callbacks/TestOpenDatabaseCallback.java
  backend/src/test/java/io/firstpass/ipc/callbacks/TestUpdateCategoryCallback.java
  backend/src/test/java/io/firstpass/ipc/callbacks/TestUpdateEntryCallback.java
  backend/src/test/java/io/firstpass/manager/TestPasswordManager.java
  backend/src/test/java/util/Utils.java
Labels: backend

#119 added password generator & ipc unit tests
  backend/pom.xml
  frontend/.gitignore
  frontend/app/src/components/DropdownMenu/DropdownMenu.js
  frontend/app/src/components/DropdownMenu/DropdownMenu.less
  frontend/app/src/components/EditableProp/EditableProp.js
  frontend/app/src/components/EditableProp/EditableProp.less
  frontend/app/src/components/Popup/Popup.js
  frontend/app/src/components/Tooltip/Tooltip.js
  frontend/app/src/components/Tooltip/Tooltip.less
  frontend/app/src/components/index.js
  frontend/app/src/hooks/useShortcut.js
  frontend/app/src/pages/MainPage/components/AddEntryPopup/AddEntryPopup.js
  frontend/app/src/pages/MainPage/components/AddEntryPopup/AddEntryPopup.less
  frontend/app/src/pages/MainPage/components/SettingsView/SettingsView.less
  frontend/app/src/pages/MainPage/components/SettingsView/components/ThemeSelector.js
  frontend/app/src/pages/MainPage/components/SettingsView/components/ThemeSelector.less
  frontend/app/src/pages/MainPage/components/SideBar/SideBar.js
  frontend/app/src/pages/MainPage/components/SideBar/SideBar.less
  frontend/app/src/pages/MainPage/components/SideBar/components/Category.less
  frontend/app/src/util/passwordGenerator.js
  frontend/package.json
  frontend/test/ipc-echo.js
  frontend/test/ipc.test.js
  frontend/util/ipc.js
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: enhancement, frontend

#120 Added frontend tests to pr checks
  .github/workflows/pullrequest_backend.yaml
  .github/workflows/pullrequest_frontend.yaml
  frontend/test/ipc.test.js
Labels: enhancement, frontend, backend

#121 fixed backend version when running in dev mode
  frontend/util/backend.js
Labels: enhancement, frontend

#122 fix bugs, bump version to 1.1.1
  backend/pom.xml
  frontend/app/src/App.js
  frontend/app/src/components/EditableProp/EditableProp.js
  frontend/app/src/components/EditableProp/EditableProp.less
  frontend/app/src/pages/MainPage/MainPage.less
  frontend/app/src/pages/MainPage/components/PasswordListView/PasswordListItem.js
  frontend/app/src/pages/MainPage/components/PasswordListView/PasswordListItem.less
  frontend/app/src/pages/MainPage/components/SettingsView/SettingsView.js
  frontend/app/src/pages/MainPage/components/SettingsView/SettingsView.less
  frontend/app/src/pages/MainPage/components/SideBar/SideBar.less
  frontend/app/src/pages/MainPage/components/SideBar/components/Category.less
  frontend/package.json
Labels: bug

#123 fix styling bugs, bump version to 1.1.1
  backend/pom.xml
  frontend/app/src/App.js
  frontend/app/src/components/EditableProp/EditableProp.js
  frontend/app/src/components/EditableProp/EditableProp.less
  frontend/app/src/pages/MainPage/MainPage.less
  frontend/app/src/pages/MainPage/components/PasswordListView/PasswordListItem.js
  frontend/app/src/pages/MainPage/components/PasswordListView/PasswordListItem.less
  frontend/app/src/pages/MainPage/components/SettingsView/SettingsView.js
  frontend/app/src/pages/MainPage/components/SettingsView/SettingsView.less
  frontend/app/src/pages/MainPage/components/SideBar/SideBar.less
  frontend/app/src/pages/MainPage/components/SideBar/components/Category.less
  frontend/package.json
Labels: bug
